/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
/.env.live
.vscode
/.idea
/.sass-cache
package-lock.json
composer.lock
server.php

.ngrok.yml
.secrets
/nbproject/private/
nbproject

app/Http/Controllers/Web/*
app/Http/Requests/Web/*
app/Services/Web/*
config/*
database/*
docker/*
public/*
resources/views/web/*
resources/views/emails/*

fitswarm.7z
fitswarm.sql
artisan
storage
